body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 15px;
    background-color: black;
    width: 100%;
    height: 100%;
}

#wrapper {
    position: relative;
    overflow-x: hidden;
    border: solid whitesmoke;
    width: 100%;
    height: 100%;
}

p {
    color: white;
    text-align: center;
    padding: 40px;
}

#main {
margin-left: 1px;
margin-right: -9px;
}

#header {
    width: 100%;
    min-height: 150px;
    background-color: rgb(42, 42, 155);
}

#content {
    background-color: rgb(169, 223, 63);
    width: 60%;
    min-height: calc(100vh - 300px);
    justify-self: center;
    border: solid whitesmoke;
    display: inline-block;
    vertical-align: middle;
    margin-left: -6px;
}

#leftsidebar {
    background-color: rgb(255, 108, 157);
    width: 20%;
    min-height: calc(100vh - 300px);
    border: solid whitesmoke;
    display: inline-block;
    vertical-align: middle;
    margin-left: -6px;
}

#rightsidebar {
    background-color: rgb(255, 108, 157);
    width: 20%;
    min-height: calc(100vh - 300px);
    border: solid whitesmoke;
    display: inline-block;
    vertical-align: middle;
    margin-left: -6px;
}

#footer {
    min-height: 150px;
    width: 100%;
    background: #84adf8;
    display: inline-block;
}