body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 15px;
    background-color: black;
}

#wrapper {
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
    display: inline-block;
    margin: 25% 10% 5% 25%;
    border: solid whitesmoke;
}

p {
    color: white;
    text-align: center;
    padding: 40px;
}

#header {
    width: 100%;
    background-color: rgb(42, 42, 155);
    height: 100px;
    vertical-align:baseline;
    display: inline-block;
}

#content {
    background-color: rgb(169, 223, 63);
    width: 60%;
    height: 300px;
    border: solid whitesmoke;
    display: inline-block;
    margin-left: -5px;
    margin-right: -5px;
}

#leftsidebar {
    background-color: rgb(255, 108, 157);
    width: 20%;
    height: 300px;
    border: solid whitesmoke;
    display: inline-block;
    margin-left: -3px;
}

#rightsidebar {
    background-color: rgb(255, 108, 157);
    width: 21%;
    height: 300px;
    border: solid whitesmoke;
    display: inline-block;
    margin-right: -5px;
}

#footer {
    height: 100px;
    width: 100%;
    background: #84adf8;
    display: inline-block;
}